# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
.env
*.db

# Encrypted Files & Storage
backend/storage/encrypted/*
!backend/storage/encrypted/.gitkeep
*.enc

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
