# Database Credentials
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=secure_file_sharing
DATABASE_USER=root
DATABASE_PASSWORD=your_mysql_password_here

# Flask App Configuration
FLASK_ENV=development
SECRET_KEY=change_this_to_a_secure_random_secret_key
JWT_EXPIRATION_HOURS=24

# Phase 2 — AES Encryption Configuration
ENCRYPTION_MASTER_KEY=wOQwsJdeppTGyk5Gd6qBaojg799l9to2lSkE6KlguuM=
MAX_FILE_SIZE_MB=16

# Phase 4 — Real IPFS Kubo Node Configuration
IPFS_API_URL=http://127.0.0.1:5001

# Phase 5 & 6 — Blockchain Configuration
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CHAIN_ID=31337
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_PRIVATE_KEY=
